{% extends 'main.html' %}
{%block title%}
ADD Regitration
{%endblock%}
{% block header %}
<nav>
    <a href="{% url 'add_register' %}">Add Registration</a>
    <a href="{% url 'remove_register' %}">Remove Registration</a>
    <a href="{% url 'edit_register' %}">Edit Registration</a>
    <a href="{% url 'read_register' %}">Read Registration</a>
</nav>
<hr>
{%endblock%}
{% block body %}
<form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit">
</form>
{% endblock body %}
{% block footer %}
<hr>
<a href="{% url 'index' %}">Go Back</a>
{% endblock footer%}