{% extends 'main.html' %}
{%block title%}
ADD Content
{%endblock%}
{% block header %}
<nav>
    <a href="{% url 'add_content' %}">Add Content</a>
    <a href="{% url 'remove_content' %}">Remove Content</a>
    <a href="{% url 'edit_content' %}">Edit Content</a>
    <a href="{% url 'read_content' %}">Read Content</a>
</nav>
<hr>
{%endblock%}
{% block body %}
<form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit">
</form>
{% endblock body %}
{% block footer %}
<hr>
<a href="{% url 'index' %}">Go Back</a>
{% endblock footer%}